body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
    height: 100%;
    width: 100%;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  /* MY STYLES  */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .timeblock {
    display: flex;
    height: 100px;
    width: 1000px;
    margin: 1px 1px;
  }
  
  .timeblock .time {
    background-color: #fff;
    border-top: 3px solid #c7c7c7;
    border-right: 3px solid #8a8a8a;
    padding: 5px 5px 0 0;
    text-align: end;
    height: 100%;
    width: 10%;
  }
  
  .timeblock .text-box {
    background-color: #cecece;
    height: 100%;
    width: 80%;
  }
  
  .timeblock .icon-box {
    background-color: #3db8d6;
    border-left: 3px solid #107791;
    border-radius: 0 25% 25px 0;
    color: #fff;
    height: 100px;
    padding: 45px;
    text-align: center;
    width: 10%;
  }
  
  .timeblock .icon-box:hover {
    background-color: #3d59d6;
    color: #000;
    transition: all 0.5s ease-in-out;
  }